.reveal {
  font-size: 42px;
}

.reveal h1 {
  font-size: 3.2em;
  font-weight: bold;
}

.reveal h2 {
  font-size: 2.4em;
  font-weight: bold;
}

.reveal h3 {
  font-size: 1.8em;
  font-weight: bold;
}

.reveal p, .reveal ul, .reveal ol {
  font-size: 1.2em;
  line-height: 1.5;
}

.reveal li {
  margin-bottom: 0.6em;
}

.reveal code {
  font-size: 0.95em;
}

.reveal pre code {
  font-size: 0.9em;
}
